/* Layout */
.dashboard-container {
  display: flex;
  width: 100%;
}

.main-content {
  margin-left: 250px;

  width: calc(100% - 250px);
  transition: all 0.3s ease-in-out;
}

.main-content.collapsed {
  margin-left: 80px;
  width: calc(100% - 80px);
}

/* Wrapper for scrollable table */
.purchased-items-wrapper {
  max-height: calc(100vh - 120px); /* adjust if header height changes */
  overflow-y: auto;
}

/* Search box */
/* .retailers-search-container {
  display: flex;
  justify-content: flex-end;
}

.retailers-search-box {
  display: flex;
  align-items: center;
  background: #f5f5f5;
  border-radius: 8px;
  padding: 6px 12px;
  width: 280px;
}

.retailers-search-icon {
  font-size: 18px;
  margin-right: 8px;
  color: #666;
}

.retailers-search-input {
  border: none;
  background: transparent;
  outline: none;
  width: 100%;
}

.retailers-search-input::placeholder {
  color: #999;
} */


.purchase-items-search-container {
  max-width: 420px;
  flex-grow: 1;
}

.purchase-items-search-box {
  position: relative;
  width: 100%;
}

.purchase-items-search-input {
  width: 100%;
  padding: 12px 40px 10px 12px;
  border-radius: 6px;
  border: 1px solid #d1d5db;
  font-size: 14px;
}


.purchase-items-search-input:focus {
  outline: none;
  border-color: #4299e1;
  box-shadow: 0 0 0 3px rgba(66, 153, 225, 0.1);
}

.purchase-items-search-input::placeholder {
  color: #a0aec0;
}

.purchase-items-search-icon {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  color: #6b7280;
}

.product-name-link{
  text-decoration: none;
}

/* Action icons */
.action-icon {
  cursor: pointer;
  font-size: 1.1rem;
}

/* Dropdown buttons */
.dropdown .btn {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* Table responsiveness */
@media (max-width: 768px) {
  .main-content {
    margin-left: 0;
    width: 100%;
    padding: 15px;
  }
   .purchase-items-search-container {
    width: 100%;
    margin-bottom: 10px;
  }

  .d-flex.justify-content-between.align-items-center.flex-wrap {
    flex-direction: column;
    align-items: stretch;
  }

  .d-flex.gap-2.flex-shrink-0.mt-2.mt-md-0 {
    justify-content: flex-start;
  }
}
